
/*TODO: Implement section.hero with BEM*/




.hero-get_started-button {
    color: var(--background);
    background-color: var(--accent-color);
}
.hero-get_started-button:hover {
    background-color: var(--hover-color);
}
.hero-resume_progess-button {
    color: var(--plus-yellow);
    background-color: var(--background);
    border: rgb(229 229 229) solid 2px;
}
@media only screen and (min-width: 700px) { 
	section.hero {
    margin-top: 11%;
		max-width: 1000px;
		flex-direction: row;
	}
	
	section.hero div {
		width: 50%;
	}
}
